/*
#components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
}

.header-title {
    color: white;
    font-size: 2em;
}

.seachbar {
    display: flex;
}

.slider {
    padding-top: 4.54em;
}*/

.books-field-container {
    padding-top: 2em;
}